# ⚠️ ARQUIVO GERADO — NÃO EDITAR À MÃO (spec-from-code, arbitrado 2026-07-09).
# Este openapi.yaml passa a ser SAÍDA do app (`@hono/zod-openapi`), gerado dos
# schemas Zod que validam a request na borda. Rode `pnpm openapi:generate` para
# regenerar; um check de CI (`pnpm openapi:check`) falha o build se este arquivo
# divergir da geração. Edições manuais são sobrescritas e pegas pelo CI.
# Estratégia: docs/api/documentation.md. Prosa/porquê: docs/api/public-api.md.
# (Enquanto a migração recurso-a-recurso não conclui, este arquivo é híbrido —
#  parte gerada, parte ainda manual; ver documentation.md §Migração.)
openapi: 3.1.0
info:
  title: Araute API
  version: 1.0.0-draft
  description: >
    API REST pública v1 do Araute — sistema de pagamentos brasileiro (core próprio,
    inspirado na Stripe, desacoplado de providers). Derivada fielmente de
    docs/api/public-api.md e docs/api/errors.md. Valores monetários em centavos
    (inteiro), moeda BRL; timestamps ISO 8601 UTC; erros RFC 7807
    (application/problem+json). Regra de ouro: o status de todo objeto é o estado
    da máquina interna, nunca o status bruto do provider.
servers:
  - url: https://api.araute.com/v1
    description: Produção e teste (o ambiente é determinado pela chave sk_live_/sk_test_)
security:
  - bearerAuth: []
tags:
  - name: Customers
  - name: Products
  - name: Prices
  - name: PaymentMethods
  - name: PaymentLinks
  - name: CheckoutSessions
  - name: PaymentIntents
  - name: Charges
  - name: Subscriptions
  - name: Invoices
  - name: Refunds
  - name: WebhookEndpoints
  - name: Events
  - name: TaxDocuments
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >
        Authorization: Bearer <api_key>. Chaves secretas de servidor sk_test_... /
        sk_live_...; a chave define ambiente e account_id (multi-tenant). Não há
        chave publicável (pk_) na v1.

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: >
        Obrigatório em todo POST que cria objeto ou dispara cobrança/efeito colateral.
        Mesma chave + mesmo payload → replay bit-a-bit da primeira resposta; mesma chave
        + payload diferente → 422 idempotency_error; mesma chave + mesmo payload ainda em
        voo (execução concorrente) → 409 idempotency_key_in_use (com Retry-After).
        Escopo por account_id + rota.
      schema:
        type: string
        maxLength: 255
    Limit:
      name: limit
      in: query
      required: false
      description: Tamanho da página (1–100, default 20). Paginação keyset.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    StartingAfter:
      name: starting_after
      in: query
      required: false
      description: >
        Cursor keyset — id do último item da página anterior (paginação para frente).
        Id inexistente → 400 invalid_cursor.
      schema:
        type: string
    EndingBefore:
      name: ending_before
      in: query
      required: false
      description: >
        Cursor keyset — id do primeiro item da página atual (paginação para trás).
        Id inexistente → 400 invalid_cursor.
      schema:
        type: string

  responses:
    Problem:
      description: Erro (RFC 7807, application/problem+json).
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'

  schemas:
    Metadata:
      type: object
      description: Mapa string→string do merchant; devolvido como está. Nunca dado sensível.
      additionalProperties:
        type: string
      examples:
        - { erp_id: "9910" }

    Problem:
      type: object
      description: Envelope de erro RFC 7807 do Araute.
      required: [type, title, status, code]
      properties:
        type:
          type: string
          description: urn:araute:error:<code>.
          examples: ["urn:araute:error:validation_error"]
        title:
          type: string
          description: Frase curta e estável para o mesmo code.
        status:
          type: integer
          description: HTTP status.
        detail:
          type: [string, "null"]
          description: Mensagem legível (pode variar/ser traduzida — não parsear).
        code:
          type: string
          description: >
            Identificador estável (o contrato). Fazer branch em cima de code, nunca
            de title/detail. Sempre com branch default (novos codes são aditivos).
          examples:
            - validation_error
            - invalid_cursor
            - authentication_required
            - permission_denied
            - resource_missing
            - idempotency_error
            - idempotency_key_in_use
            - rate_limited
            - provider_unavailable
            - internal_error
            - amount_invalid
            - currency_unsupported
            - payment_method_type_unsupported
            - payment_intent_unexpected_state
            - checkout_session_not_open
            - payment_method_not_reusable
            - currency_locked
            - subscription_not_modifiable
            - pending_change_exists
            - proration_preview_mismatch
            - invoice_not_payable
            - invoice_not_voidable
            - charge_not_refundable
            - refund_amount_exceeds_available
            - refund_window_expired
            - provider_insufficient_balance
            - tax_document_not_retryable
        param:
          type: [string, "null"]
          description: Campo do request associado (null se não aplicável).
        trace_id:
          type: string
          description: Correlação com logs/suporte.
        errors:
          type: array
          description: Violações por campo (erros de validação de schema).
          items:
            type: object
            required: [param, code, message]
            properties:
              param:
                type: string
              code:
                type: string
              message:
                type: string
        amount_refundable:
          type: integer
          description: Extensão presente em refund_amount_exceeds_available (saldo reembolsável em centavos).

    ListResponse:
      type: object
      description: Envelope genérico de lista (keyset). data é sobrescrito por recurso.
      required: [object, url, data, has_more, next_cursor]
      properties:
        object:
          type: string
          const: list
        url:
          type: string
        data:
          type: array
          items:
            type: object
        has_more:
          type: boolean
        next_cursor:
          type: [string, "null"]
          description: id a passar em starting_after na próxima página; null quando has_more=false.

    Address:
      type: [object, "null"]
      properties:
        line1:
          type: string
        line2:
          type: string
        city:
          type: string
        state:
          type: string
          minLength: 2
          maxLength: 2
        postal_code:
          type: string
        country:
          type: string
          const: BR

    DeletedResource:
      type: object
      required: [id, object, deleted]
      properties:
        id:
          type: string
        object:
          type: string
        deleted:
          type: boolean
          const: true

    # ---------------- Customer ----------------
    Customer:
      type: object
      required: [id, object, balance, delinquent, livemode, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: '^cus_[0-9A-Za-z]+$'
        object:
          type: string
          const: customer
        name:
          type: [string, "null"]
        email:
          type: [string, "null"]
          format: email
        tax_id:
          type: [string, "null"]
          description: CPF/CNPJ.
        phone:
          type: [string, "null"]
        address:
          $ref: '#/components/schemas/Address'
        currency:
          type: [string, "null"]
          const: BRL
          description: Trava em BRL ao ganhar assinatura ativa; derivado (não editável).
        balance:
          type: integer
          description: Saldo de crédito em centavos; sinal NÃO invertido (+ = crédito a favor do cliente). Só muda por ledger.
        delinquent:
          type: boolean
        metadata:
          $ref: '#/components/schemas/Metadata'
        livemode:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CustomerCreate:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
        email:
          type: string
          format: email
        tax_id:
          type: string
          description: CPF/CNPJ, validação de dígito verificador.
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        metadata:
          $ref: '#/components/schemas/Metadata'

    CustomerUpdate:
      type: object
      description: Subconjunto parcial de CustomerCreate. Não aceita balance/currency/delinquent (derivados).
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
        email:
          type: string
          format: email
        tax_id:
          type: string
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        metadata:
          $ref: '#/components/schemas/Metadata'

    # ---------------- Product ----------------
    Product:
      type: object
      required: [id, object, name, active, livemode, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: '^prod_[0-9A-Za-z]+$'
        object:
          type: string
          const: product
        name:
          type: string
        description:
          type: [string, "null"]
        active:
          type: boolean
        tax_code:
          type: [string, "null"]
          description: Código de serviço municipal para NFS-e; depende do provider fiscal.
        metadata:
          $ref: '#/components/schemas/Metadata'
        livemode:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ProductCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 256
        description:
          type: string
          maxLength: 2000
        active:
          type: boolean
          default: true
        tax_code:
          type: string
        metadata:
          $ref: '#/components/schemas/Metadata'

    # ---------------- Price ----------------
    PriceRecurring:
      type: [object, "null"]
      description: Ausente/null = preço avulso (one-time). Imutável após criação.
      required: [interval, interval_count]
      properties:
        interval:
          type: string
          enum: [day, week, month, year]
        interval_count:
          type: integer
          minimum: 1

    Price:
      type: object
      required: [id, object, product, currency, unit_amount, active, livemode, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: '^price_[0-9A-Za-z]+$'
        object:
          type: string
          const: price
        product:
          type: string
          pattern: '^prod_[0-9A-Za-z]+$'
        currency:
          type: string
          const: BRL
        unit_amount:
          type: integer
          description: Centavos. Imutável.
        nickname:
          type: [string, "null"]
        active:
          type: boolean
        recurring:
          $ref: '#/components/schemas/PriceRecurring'
        metadata:
          $ref: '#/components/schemas/Metadata'
        livemode:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PriceCreate:
      type: object
      required: [product, unit_amount]
      properties:
        product:
          type: string
          pattern: '^prod_[0-9A-Za-z]+$'
        currency:
          type: string
          const: BRL
          default: BRL
        unit_amount:
          type: integer
          minimum: 1
          description: Centavos (inteiro positivo).
        nickname:
          type: string
        active:
          type: boolean
          default: true
        recurring:
          type: object
          required: [interval]
          properties:
            interval:
              type: string
              enum: [day, week, month, year]
            interval_count:
              type: integer
              minimum: 1
              default: 1
        metadata:
          $ref: '#/components/schemas/Metadata'

    # ---------------- PaymentMethod ----------------
    PaymentMethodCard:
      type: [object, "null"]
      description: Nunca expõe PAN completo/CVV/token bruto do provider.
      properties:
        brand:
          type: string
        last4:
          type: string
        exp_month:
          type: integer
        exp_year:
          type: integer
        funding:
          type: string

    MitConsent:
      type: [object, "null"]
      properties:
        enabled:
          type: boolean
          description: true é pré-requisito para cobrança recorrente MIT.
        reference:
          type: string
        consented_at:
          type: string
          format: date-time

    PaymentMethod:
      type: object
      required: [id, object, type, livemode, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: '^pm_[0-9A-Za-z]+$'
        object:
          type: string
          const: payment_method
        type:
          type: string
          enum: [card, pix]
        customer:
          type: [string, "null"]
          pattern: '^cus_[0-9A-Za-z]+$'
        card:
          $ref: '#/components/schemas/PaymentMethodCard'
        mit_consent:
          $ref: '#/components/schemas/MitConsent'
        metadata:
          $ref: '#/components/schemas/Metadata'
        livemode:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ---------------- PaymentLink ----------------
    LineItem:
      type: object
      required: [price, quantity]
      properties:
        price:
          type: string
          pattern: '^price_[0-9A-Za-z]+$'
        quantity:
          type: integer
          minimum: 1

    AfterCompletion:
      type: object
      properties:
        type:
          type: string
          enum: [redirect, hosted_confirmation]
          default: hosted_confirmation
        redirect_url:
          type: [string, "null"]
          format: uri

    PaymentLink:
      type: object
      required: [id, object, active, url, currency, payment_method_types, livemode, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: '^plink_[0-9A-Za-z]+$'
        object:
          type: string
          const: payment_link
        active:
          type: boolean
        url:
          type: string
          format: uri
        line_items:
          type: [array, "null"]
          items:
            $ref: '#/components/schemas/LineItem'
        amount:
          type: [integer, "null"]
        currency:
          type: string
          const: BRL
        payment_method_types:
          type: array
          items:
            type: string
            enum: [pix, card]
        after_completion:
          $ref: '#/components/schemas/AfterCompletion'
        metadata:
          $ref: '#/components/schemas/Metadata'
        livemode:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PaymentLinkCreate:
      type: object
      description: Aceita line_items OU amount+currency (mutuamente exclusivos).
      properties:
        line_items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/LineItem'
        amount:
          type: integer
          minimum: 1
          description: Exclusivo com line_items.
        currency:
          type: string
          const: BRL
          default: BRL
        payment_method_types:
          type: array
          default: [pix]
          items:
            type: string
            enum: [pix, card]
        active:
          type: boolean
          default: true
        after_completion:
          $ref: '#/components/schemas/AfterCompletion'
        metadata:
          $ref: '#/components/schemas/Metadata'

    PaymentLinkUpdate:
      type: object
      description: Atualiza active, after_completion, metadata. line_items/amount são imutáveis.
      properties:
        active:
          type: boolean
        after_completion:
          $ref: '#/components/schemas/AfterCompletion'
        metadata:
          $ref: '#/components/schemas/Metadata'

    # ---------------- CheckoutSession ----------------
    CheckoutSession:
      type: object
      required: [id, object, mode, status, payment_status, url, amount_total, currency, success_url, livemode, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: '^cs_[0-9A-Za-z]+$'
        object:
          type: string
          const: checkout_session
        mode:
          type: string
          enum: [payment, subscription]
        status:
          type: string
          enum: [open, complete, expired]
          description: Canônico open → complete | expired. expired é terminal e não regride.
        payment_status:
          type: string
          enum: [unpaid, paid, no_payment_required]
          readOnly: true
          description: Derivado do PaymentIntent; read-only (sem FSM própria, não persistido). complete ≠ pago (Pix assíncrono).
        url:
          type: string
          format: uri
        amount_total:
          type: integer
        currency:
          type: string
          const: BRL
        payment_intent:
          type: [string, "null"]
          pattern: '^pi_[0-9A-Za-z]+$'
        payment_link:
          type: [string, "null"]
          pattern: '^plink_[0-9A-Za-z]+$'
        success_url:
          type: string
        cancel_url:
          type: [string, "null"]
        expires_at:
          type: [string, "null"]
          format: date-time
        customer:
          type: [string, "null"]
          pattern: '^cus_[0-9A-Za-z]+$'
        metadata:
          $ref: '#/components/schemas/Metadata'
        livemode:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CheckoutSessionCreate:
      type: object
      required: [success_url]
      description: Aceita line_items OU amount+currency (mutuamente exclusivos).
      properties:
        mode:
          type: string
          enum: [payment, subscription]
          default: payment
        line_items:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
        amount:
          type: integer
          minimum: 1
        currency:
          type: string
          const: BRL
          default: BRL
        payment_method_types:
          type: array
          default: [pix]
          items:
            type: string
            enum: [pix, card]
        success_url:
          type: string
          format: uri
          description: Aceita placeholder {CHECKOUT_SESSION_ID}.
        cancel_url:
          type: string
          format: uri
        expires_at:
          type: string
          format: date-time
        customer:
          type: string
          pattern: '^cus_[0-9A-Za-z]+$'
        customer_email:
          type: string
          format: email
        customer_name:
          type: string
        customer_tax_id:
          type: string
        locale:
          type: string
          default: pt-BR
        metadata:
          $ref: '#/components/schemas/Metadata'

    # ---------------- PaymentIntent ----------------
    PixDisplayQrCode:
      type: object
      properties:
        data:
          type: string
        image_url:
          type: string
          format: uri
        expires_at:
          type: string
          format: date-time

    NextAction:
      type: [object, "null"]
      description: Polimórfico; contrato próprio, nunca o formato bruto do provider.
      properties:
        type:
          type: string
          enum: [pix_display_qr_code, redirect_to_url]
        pix_display_qr_code:
          $ref: '#/components/schemas/PixDisplayQrCode'
        redirect_to_url:
          type: object
          properties:
            url:
              type: string
              format: uri

    LastPaymentError:
      type: [object, "null"]
      description: >
        Recusa de pagamento normalizada (nunca status bruto do provider). ATENÇÃO:
        last_payment_error.code é namespace DIFERENTE do code do envelope RFC 7807.
      properties:
        code:
          type: string
          examples: [insufficient_funds, card_declined, expired_card, do_not_honor, invalid_cvc, fraud_suspected, processing_error, pix_expired]
        decline_code:
          type: string
        message:
          type: string

    PaymentIntent:
      type: object
      required: [id, object, status, amount, currency, payment_method_types, livemode, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: '^pi_[0-9A-Za-z]+$'
        object:
          type: string
          const: payment_intent
        status:
          type: string
          enum: [requires_payment_method, requires_confirmation, requires_action, processing, succeeded, cancelled, expired]
          description: succeeded/cancelled/expired terminais; succeeded nunca regride.
        amount:
          type: integer
        amount_received:
          type: integer
        currency:
          type: string
          const: BRL
        customer:
          type: [string, "null"]
          pattern: '^cus_[0-9A-Za-z]+$'
        payment_method_types:
          type: array
          items:
            type: string
            enum: [pix, card]
        next_action:
          $ref: '#/components/schemas/NextAction'
        latest_charge:
          type: [string, "null"]
          pattern: '^ch_[0-9A-Za-z]+$'
        last_payment_error:
          $ref: '#/components/schemas/LastPaymentError'
        cancellation_reason:
          type: [string, "null"]
        checkout_session:
          type: [string, "null"]
          pattern: '^cs_[0-9A-Za-z]+$'
        invoice:
          type: [string, "null"]
          pattern: '^inv_[0-9A-Za-z]+$'
        description:
          type: [string, "null"]
        metadata:
          $ref: '#/components/schemas/Metadata'
        livemode:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PaymentIntentCreate:
      type: object
      required: [amount, payment_method_types]
      properties:
        amount:
          type: integer
          minimum: 1
        currency:
          type: string
          const: BRL
          default: BRL
        payment_method_types:
          type: array
          minItems: 1
          items:
            type: string
            enum: [pix, card]
        customer:
          type: string
          pattern: '^cus_[0-9A-Za-z]+$'
        description:
          type: string
        metadata:
          $ref: '#/components/schemas/Metadata'

    PaymentIntentConfirm:
      type: object
      properties:
        payment_method:
          type: string
          pattern: '^pm_[0-9A-Za-z]+$'
          description: Método salvo.
        payment_method_data:
          type: object
          properties:
            type:
              type: string
              enum: [pix, card]
        return_url:
          type: string
          format: uri
          description: Para redirect 3DS de cartão.

    PaymentIntentCancel:
      type: object
      properties:
        cancellation_reason:
          type: string
          enum: [duplicate, fraudulent, requested_by_customer, abandoned]

    PaymentAttempt:
      type: object
      required: [id, object, payment_intent, created_at]
      properties:
        id:
          type: string
          pattern: '^patt_[0-9A-Za-z]+$'
        object:
          type: string
          const: payment_attempt
        payment_intent:
          type: string
          pattern: '^pi_[0-9A-Za-z]+$'
        payment_method_type:
          type: string
          enum: [pix, card]
        status:
          type: string
          description: Sem state machine canônica formalizada (ver Decisões em aberto).
        charge:
          type: [string, "null"]
          pattern: '^ch_[0-9A-Za-z]+$'
        created_at:
          type: string
          format: date-time

    # ---------------- Charge ----------------
    ChargePixDetails:
      type: object
      properties:
        txid:
          type: string
        end_to_end_id:
          type: string
        payer:
          type: object
          properties:
            name:
              type: string
            tax_id:
              type: string

    PaymentMethodDetails:
      type: object
      description: Snapshot imutável do método usado.
      properties:
        type:
          type: string
          enum: [pix, card]
        pix:
          $ref: '#/components/schemas/ChargePixDetails'
        card:
          $ref: '#/components/schemas/PaymentMethodCard'

    Charge:
      type: object
      required: [id, object, status, amount, currency, payment_intent, livemode, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: '^ch_[0-9A-Za-z]+$'
        object:
          type: string
          const: charge
        status:
          type: string
          enum: [pending, succeeded, failed]
          description: Refund não muda status; rastreado por amount_refunded e objetos Refund.
        amount:
          type: integer
        amount_captured:
          type: integer
        amount_refunded:
          type: integer
        currency:
          type: string
          const: BRL
        payment_intent:
          type: string
          pattern: '^pi_[0-9A-Za-z]+$'
        customer:
          type: [string, "null"]
          pattern: '^cus_[0-9A-Za-z]+$'
        payment_method_details:
          $ref: '#/components/schemas/PaymentMethodDetails'
        refunded:
          type: boolean
        metadata:
          $ref: '#/components/schemas/Metadata'
        livemode:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ---------------- Subscription ----------------
    SubscriptionItem:
      type: object
      required: [id, object, price, quantity]
      properties:
        id:
          type: string
          pattern: '^si_[0-9A-Za-z]+$'
        object:
          type: string
          const: subscription_item
        price:
          type: string
          pattern: '^price_[0-9A-Za-z]+$'
        quantity:
          type: integer
          minimum: 1
        current_period_start:
          type: string
          format: date-time
        current_period_end:
          type: string
          format: date-time
        metadata:
          $ref: '#/components/schemas/Metadata'

    CancellationDetails:
      type: [object, "null"]
      properties:
        reason:
          type: string
          enum: [requested_by_customer, payment_failure, fraud, other]
        feedback:
          type: string

    ProrationLine:
      type: object
      properties:
        description:
          type: string
        amount:
          type: integer
          description: + cobra, − credita.
        proration:
          type: boolean

    SubscriptionChange:
      type: object
      required: [id, object, status, subscription]
      properties:
        id:
          type: string
          pattern: '^subch_[0-9A-Za-z]+$'
        object:
          type: string
          const: subscription_change
        status:
          type: string
          enum: [pending, applied, payment_failed, expired, cancelled]
          description: Canônico pending → applied | payment_failed | expired | cancelled.
        subscription:
          type: string
          pattern: '^sub_[0-9A-Za-z]+$'
        proration_policy:
          type: string
          enum: [charge_now, next_cycle, credit, none]
        proration_amount:
          type: integer
          description: + cobra, − credita (crédito ao customer, sinal não invertido).
        proration_lines:
          type: array
          items:
            $ref: '#/components/schemas/ProrationLine'
        diff:
          type: [object, "null"]
          description: O que mudou.
          additionalProperties: true
        invoice:
          type: [string, "null"]
          pattern: '^inv_[0-9A-Za-z]+$'
        payment_intent:
          type: [string, "null"]
          pattern: '^pi_[0-9A-Za-z]+$'
        effective_at:
          type: [string, "null"]
          format: date-time
        applied_at:
          type: [string, "null"]
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Subscription:
      type: object
      required: [id, object, status, customer, collection_method, items, livemode, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: '^sub_[0-9A-Za-z]+$'
        object:
          type: string
          const: subscription
        status:
          type: string
          enum: [incomplete, active, trialing, past_due, unpaid, paused, cancelled]
          description: >
            incomplete → active | trialing | cancelled (timeout/desistência, com void da
            invoice inicial); active ⇄ past_due; past_due → unpaid | cancelled;
            paused (a partir de active); cancelled terminal (não existe incomplete_expired —
            expiração de incomplete = cancelled).
        customer:
          type: string
          pattern: '^cus_[0-9A-Za-z]+$'
        collection_method:
          type: string
          enum: [charge_automatically, send_invoice]
        payment_method_type:
          type: [string, "null"]
          enum: [card, pix_manual, null]
        default_payment_method:
          type: [string, "null"]
          pattern: '^pm_[0-9A-Za-z]+$'
        items:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionItem'
        billing_cycle_anchor:
          type: [string, "null"]
          format: date-time
        trial_start:
          type: [string, "null"]
          format: date-time
        trial_end:
          type: [string, "null"]
          format: date-time
        trial_end_behavior:
          type: [string, "null"]
          enum: [cancel, pause, create_invoice, null]
        cancel_at_period_end:
          type: boolean
        cancel_at:
          type: [string, "null"]
          format: date-time
        cancelled_at:
          type: [string, "null"]
          format: date-time
        cancellation_details:
          $ref: '#/components/schemas/CancellationDetails'
        grace_period_days:
          type: integer
        latest_invoice:
          type: [string, "null"]
          pattern: '^inv_[0-9A-Za-z]+$'
        pending_change:
          oneOf:
            - $ref: '#/components/schemas/SubscriptionChange'
            - type: "null"
          description: Inline (sub-estado do fluxo, não expand).
        latest_change:
          type: [string, "null"]
          pattern: '^subch_[0-9A-Za-z]+$'
        pix_mandate:
          type: [string, "null"]
          description: V2.
        metadata:
          $ref: '#/components/schemas/Metadata'
        livemode:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SubscriptionCreate:
      type: object
      required: [customer, items]
      description: Exige exatamente um de payment_method (cartão MIT) OU payment_method_type (pix_manual).
      properties:
        customer:
          type: string
          pattern: '^cus_[0-9A-Za-z]+$'
        items:
          type: array
          minItems: 1
          items:
            type: object
            required: [price]
            properties:
              price:
                type: string
                pattern: '^price_[0-9A-Za-z]+$'
              quantity:
                type: integer
                minimum: 1
                default: 1
        payment_method:
          type: string
          pattern: '^pm_[0-9A-Za-z]+$'
        payment_method_type:
          type: string
          enum: [pix_manual]
        collection_method:
          type: string
          enum: [charge_automatically, send_invoice]
          default: charge_automatically
        trial_period_days:
          type: integer
          minimum: 1
        trial_end:
          type: string
          format: date-time
          description: Exclusivo com trial_period_days.
        trial_end_behavior:
          type: string
          enum: [cancel, pause, create_invoice]
          default: create_invoice
        billing_cycle_anchor:
          oneOf:
            - type: string
              const: now
            - type: string
              format: date-time
        proration_policy:
          type: string
          enum: [charge_now, next_cycle, credit, none]
        grace_period_days:
          type: integer
          minimum: 0
        cancel_at_period_end:
          type: boolean
          default: false
        metadata:
          $ref: '#/components/schemas/Metadata'

    SubscriptionItemUpdate:
      type: object
      required: [id]
      properties:
        id:
          type: string
          pattern: '^si_[0-9A-Za-z]+$'
          description: OBRIGATÓRIO para trocar preço (nunca criar+deletar).
        price:
          type: string
          pattern: '^price_[0-9A-Za-z]+$'
        quantity:
          type: integer
          minimum: 1
          description: Omitir preserva a quantity atual.

    AddInvoiceItem:
      type: object
      required: [description, amount]
      properties:
        description:
          type: string
        amount:
          type: integer
        quantity:
          type: integer
          minimum: 1
          default: 1

    SubscriptionUpdate:
      type: object
      description: PATCH canônico de alteração. Cria sempre um subch_. Idempotency-Key obrigatório.
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionItemUpdate'
        add_invoice_items:
          type: array
          items:
            $ref: '#/components/schemas/AddInvoiceItem'
        billing_cycle_anchor:
          oneOf:
            - type: string
              const: now
            - type: string
              format: date-time
        payment_method:
          type: string
          pattern: '^pm_[0-9A-Za-z]+$'
        proration_policy:
          type: string
          enum: [charge_now, next_cycle, credit, none]
        proration_date:
          type: string
          format: date-time
          description: Dia; casa preview↔apply.
        cancel_at_period_end:
          type: boolean
        metadata:
          $ref: '#/components/schemas/Metadata'

    SubscriptionChangeCreate:
      type: object
      description: Mudança explícita/agendada (effective_at futuro).
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionItemUpdate'
        add_invoice_items:
          type: array
          items:
            $ref: '#/components/schemas/AddInvoiceItem'
        billing_cycle_anchor:
          oneOf:
            - type: string
              const: now
            - type: string
              format: date-time
        payment_method:
          type: string
          pattern: '^pm_[0-9A-Za-z]+$'
        proration_policy:
          type: string
          enum: [charge_now, next_cycle, credit, none]
        proration_date:
          type: string
          format: date-time
        effective_at:
          oneOf:
            - type: string
              const: now
            - type: string
              format: date-time
          default: now
        metadata:
          $ref: '#/components/schemas/Metadata'

    SubscriptionChangePreviewRequest:
      type: object
      required: [proration_date]
      description: Mesmos campos de PATCH + proration_date obrigatório. Não cria nada.
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionItemUpdate'
        add_invoice_items:
          type: array
          items:
            $ref: '#/components/schemas/AddInvoiceItem'
        billing_cycle_anchor:
          oneOf:
            - type: string
              const: now
            - type: string
              format: date-time
        payment_method:
          type: string
          pattern: '^pm_[0-9A-Za-z]+$'
        proration_policy:
          type: string
          enum: [charge_now, next_cycle, credit, none]
        proration_date:
          type: string
          format: date-time
        cancel_at_period_end:
          type: boolean

    SubscriptionChangePreview:
      type: object
      required: [object, subscription, proration_date, currency]
      properties:
        object:
          type: string
          const: subscription_change_preview
        subscription:
          type: string
          pattern: '^sub_[0-9A-Za-z]+$'
        proration_date:
          type: string
          format: date-time
        proration_policy:
          type: string
          enum: [charge_now, next_cycle, credit, none]
        proration_amount:
          type: integer
          description: + cobra; − credita (sinal não invertido).
        lines:
          type: array
          items:
            $ref: '#/components/schemas/ProrationLine'
        currency:
          type: string
          const: BRL

    SubscriptionCancel:
      type: object
      properties:
        cancel_at_period_end:
          type: boolean
          default: false
          description: true = mantém acesso até current_period_end.
        prorate:
          type: boolean
          default: false
          description: Gera crédito/refund do tempo não usado (só cancelamento imediato).
        cancellation_details:
          type: object
          properties:
            reason:
              type: string
              enum: [requested_by_customer, payment_failure, fraud, other]
            feedback:
              type: string

    SubscriptionPause:
      type: object
      properties:
        resumes_at:
          type: string
          format: date-time
        entitlement_behavior:
          type: string
          enum: [keep, revoke]
          default: keep

    SubscriptionResume:
      type: object
      properties:
        payment_method:
          type: string
          pattern: '^pm_[0-9A-Za-z]+$'

    # ---------------- Invoice ----------------
    InvoiceItem:
      type: object
      required: [id, object, customer, description, quantity, unit_amount, amount, currency]
      properties:
        id:
          type: string
          pattern: '^ii_[0-9A-Za-z]+$'
        object:
          type: string
          const: invoice_item
        invoice:
          type: [string, "null"]
          pattern: '^inv_[0-9A-Za-z]+$'
        customer:
          type: string
          pattern: '^cus_[0-9A-Za-z]+$'
        description:
          type: string
        quantity:
          type: integer
        unit_amount:
          type: integer
        amount:
          type: integer
        currency:
          type: string
          const: BRL
        proration:
          type: boolean
        discountable:
          type: boolean
        metadata:
          $ref: '#/components/schemas/Metadata'

    CustomerSnapshot:
      type: [object, "null"]
      properties:
        name:
          type: string
        email:
          type: string
        tax_id:
          type: string

    Invoice:
      type: object
      required: [id, object, status, customer, currency, subtotal, total, amount_paid, amount_remaining, livemode, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: '^inv_[0-9A-Za-z]+$'
        object:
          type: string
          const: invoice
        status:
          type: string
          enum: [draft, open, paid, void, uncollectible]
          description: draft → open → paid | void | uncollectible; paid nunca regride.
        customer:
          type: string
          pattern: '^cus_[0-9A-Za-z]+$'
        subscription:
          type: [string, "null"]
          pattern: '^sub_[0-9A-Za-z]+$'
        number:
          type: [string, "null"]
        currency:
          type: string
          const: BRL
        subtotal:
          type: integer
        total:
          type: integer
        amount_paid:
          type: integer
        amount_remaining:
          type: integer
        collection_method:
          type: string
          enum: [charge_automatically, send_invoice]
        billing_reason:
          type: string
          enum: [manual, subscription_create, subscription_cycle, subscription_update]
        payment_intent:
          type: [string, "null"]
          pattern: '^pi_[0-9A-Za-z]+$'
        hosted_invoice_url:
          type: [string, "null"]
        invoice_pdf:
          type: [string, "null"]
        due_date:
          type: [string, "null"]
          format: date-time
        period_start:
          type: [string, "null"]
          format: date-time
        period_end:
          type: [string, "null"]
          format: date-time
        attempt_count:
          type: integer
        next_payment_attempt:
          type: [string, "null"]
          format: date-time
        lines:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceItem'
        customer_snapshot:
          $ref: '#/components/schemas/CustomerSnapshot'
        metadata:
          $ref: '#/components/schemas/Metadata'
        livemode:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    InvoiceCreate:
      type: object
      required: [customer]
      description: Cria invoice draft (aditivo; detalhe em invoices.md).
      properties:
        customer:
          type: string
          pattern: '^cus_[0-9A-Za-z]+$'
        subscription:
          type: string
          pattern: '^sub_[0-9A-Za-z]+$'
        collection_method:
          type: string
          enum: [charge_automatically, send_invoice]
        due_date:
          type: string
          format: date-time
        metadata:
          $ref: '#/components/schemas/Metadata'

    InvoiceItemCreate:
      type: object
      required: [description, amount]
      description: Adiciona um item à invoice (aditivo; detalhe em invoices.md).
      properties:
        description:
          type: string
        amount:
          type: integer
        quantity:
          type: integer
          minimum: 1
          default: 1
        unit_amount:
          type: integer
        discountable:
          type: boolean
        metadata:
          $ref: '#/components/schemas/Metadata'

    InvoicePay:
      type: object
      properties:
        payment_method:
          type: string
          pattern: '^pm_[0-9A-Za-z]+$'
          description: Default = PM padrão do customer.

    # ---------------- Refund ----------------
    Refund:
      type: object
      required: [id, object, status, charge, payment_intent, amount, currency, livemode, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: '^re_[0-9A-Za-z]+$'
        object:
          type: string
          const: refund
        status:
          type: string
          enum: [pending, succeeded, failed]
          description: pending → succeeded | failed (ambos terminais; sem cancelled).
        charge:
          type: string
          pattern: '^ch_[0-9A-Za-z]+$'
        payment_intent:
          type: string
          pattern: '^pi_[0-9A-Za-z]+$'
        amount:
          type: integer
        currency:
          type: string
          const: BRL
        reason:
          type: [string, "null"]
        failure_reason:
          type: [string, "null"]
        metadata:
          $ref: '#/components/schemas/Metadata'
        livemode:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    RefundCreate:
      type: object
      required: [charge]
      properties:
        charge:
          type: string
          pattern: '^ch_[0-9A-Za-z]+$'
        amount:
          type: integer
          minimum: 1
          description: Ausente = total do valor ainda reembolsável.
        reason:
          type: string
          enum: [requested_by_customer, duplicate, fraudulent, other]
        metadata:
          $ref: '#/components/schemas/Metadata'

    # ---------------- Dispute ----------------
    Dispute:
      type: object
      description: >
        Contestação de uma Charge. State machine canônica (conventions):
        needs_response → under_review → won | lost. Sem endpoints públicos na v1
        (schema presente para webhooks/leitura futura).
      required: [id, object, status, charge, amount, currency, livemode, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: '^dp_[0-9A-Za-z]+$'
        object:
          type: string
          const: dispute
        status:
          type: string
          enum: [needs_response, under_review, won, lost]
        charge:
          type: string
          pattern: '^ch_[0-9A-Za-z]+$'
        payment_intent:
          type: [string, "null"]
          pattern: '^pi_[0-9A-Za-z]+$'
        amount:
          type: integer
        currency:
          type: string
          const: BRL
        reason:
          type: [string, "null"]
        evidence_due_by:
          type: [string, "null"]
          format: date-time
        metadata:
          $ref: '#/components/schemas/Metadata'
        livemode:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ---------------- WebhookEndpoint ----------------
    WebhookEndpoint:
      type: object
      required: [id, object, url, enabled_events, status, livemode, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: '^we_[0-9A-Za-z]+$'
        object:
          type: string
          const: webhook_endpoint
        url:
          type: string
          format: uri
        enabled_events:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [enabled, disabled]
        secret:
          type: string
          pattern: '^whsec_[0-9A-Za-z]+$'
          description: Devolvido em claro apenas na criação e na rotação.
        description:
          type: [string, "null"]
        metadata:
          $ref: '#/components/schemas/Metadata'
        livemode:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    WebhookEndpointCreate:
      type: object
      required: [url, enabled_events]
      properties:
        url:
          type: string
          format: uri
          description: https obrigatório (exceto localhost em teste).
        enabled_events:
          type: array
          minItems: 1
          items:
            type: string
          description: 'Nomes canônicos + extensão v1, ou ["*"].'
        description:
          type: string
        metadata:
          $ref: '#/components/schemas/Metadata'

    WebhookEndpointUpdate:
      type: object
      properties:
        url:
          type: string
          format: uri
        enabled_events:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [enabled, disabled]
        description:
          type: string
        roll_secret:
          type: boolean
          description: true devolve novo secret (mantém o antigo válido por 24h).
        metadata:
          $ref: '#/components/schemas/Metadata'

    # ---------------- Event ----------------
    Event:
      type: object
      required: [id, object, type, api_version, created_at, data]
      properties:
        id:
          type: string
          pattern: '^evt_[0-9A-Za-z]+$'
        object:
          type: string
          const: event
        type:
          type: string
          description: 'Formato objeto.acao (ex.: payment_intent.succeeded).'
        api_version:
          type: string
          const: v1
        created_at:
          type: string
          format: date-time
        data:
          type: object
          required: [object]
          properties:
            object:
              type: object
              description: Snapshot completo do objeto no momento do evento.
              additionalProperties: true

    EventReplayRequest:
      type: object
      properties:
        webhook_endpoint:
          type: string
          pattern: '^we_[0-9A-Za-z]+$'
          description: Default = todos os habilitados para o tipo.

    EventReplayResponse:
      type: object
      required: [object, event, deliveries]
      properties:
        object:
          type: string
          const: event_replay
        event:
          type: string
          pattern: '^evt_[0-9A-Za-z]+$'
        deliveries:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                pattern: '^whd_[0-9A-Za-z]+$'
              webhook_endpoint:
                type: string
                pattern: '^we_[0-9A-Za-z]+$'
              status:
                type: string
                enum: [pending, succeeded, failed, dead]

    # ---------------- TaxDocument ----------------
    TaxDocument:
      type: object
      required: [id, object, status, type, customer, amount, currency, livemode, created_at, updated_at]
      properties:
        id:
          type: string
          pattern: '^txd_[0-9A-Za-z]+$'
        object:
          type: string
          const: tax_document
        status:
          type: string
          enum: [pending, processing, issued, failed, cancelled]
          description: pending → processing → issued | failed; failed → pending (retry); issued → cancelled.
        type:
          type: string
          const: nfse
        invoice:
          type: [string, "null"]
          pattern: '^inv_[0-9A-Za-z]+$'
        charge:
          type: [string, "null"]
          pattern: '^ch_[0-9A-Za-z]+$'
        customer:
          type: string
          pattern: '^cus_[0-9A-Za-z]+$'
        amount:
          type: integer
        currency:
          type: string
          const: BRL
        number:
          type: [string, "null"]
        issued_at:
          type: [string, "null"]
          format: date-time
        cancelled_at:
          type: [string, "null"]
          format: date-time
        cancellation_reason:
          type: [string, "null"]
        failure_reason:
          type: [string, "null"]
        document_url:
          type: [string, "null"]
        metadata:
          $ref: '#/components/schemas/Metadata'
        livemode:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ---------------- List wrappers ----------------
    CustomerList:
      allOf:
        - $ref: '#/components/schemas/ListResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Customer'
    ProductList:
      allOf:
        - $ref: '#/components/schemas/ListResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Product'
    PriceList:
      allOf:
        - $ref: '#/components/schemas/ListResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Price'
    PaymentMethodList:
      allOf:
        - $ref: '#/components/schemas/ListResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/PaymentMethod'
    PaymentLinkList:
      allOf:
        - $ref: '#/components/schemas/ListResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/PaymentLink'
    CheckoutSessionList:
      allOf:
        - $ref: '#/components/schemas/ListResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/CheckoutSession'
    PaymentIntentList:
      allOf:
        - $ref: '#/components/schemas/ListResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/PaymentIntent'
    PaymentAttemptList:
      allOf:
        - $ref: '#/components/schemas/ListResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/PaymentAttempt'
    ChargeList:
      allOf:
        - $ref: '#/components/schemas/ListResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Charge'
    SubscriptionList:
      allOf:
        - $ref: '#/components/schemas/ListResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Subscription'
    SubscriptionChangeList:
      allOf:
        - $ref: '#/components/schemas/ListResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/SubscriptionChange'
    InvoiceList:
      allOf:
        - $ref: '#/components/schemas/ListResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Invoice'
    RefundList:
      allOf:
        - $ref: '#/components/schemas/ListResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Refund'
    WebhookEndpointList:
      allOf:
        - $ref: '#/components/schemas/ListResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/WebhookEndpoint'
    EventList:
      allOf:
        - $ref: '#/components/schemas/ListResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Event'
    TaxDocumentList:
      allOf:
        - $ref: '#/components/schemas/ListResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/TaxDocument'

paths:
  /customers:
    post:
      tags: [Customers]
      operationId: createCustomer
      summary: Cria um customer.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreate'
      responses:
        '201':
          description: Customer criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        default:
          $ref: '#/components/responses/Problem'
    get:
      tags: [Customers]
      operationId: listCustomers
      summary: Lista customers (keyset).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
        - name: email
          in: query
          schema: { type: string }
        - name: tax_id
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Lista de customers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerList'
        default:
          $ref: '#/components/responses/Problem'
  /customers/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^cus_[0-9A-Za-z]+$' }
    get:
      tags: [Customers]
      operationId: getCustomer
      summary: Lê um customer.
      responses:
        '200':
          description: Customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      tags: [Customers]
      operationId: updateCustomer
      summary: Atualiza campos mutáveis. PATCH idempotente (sem Idempotency-Key).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdate'
      responses:
        '200':
          description: Customer atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        default:
          $ref: '#/components/responses/Problem'

  /products:
    post:
      tags: [Products]
      operationId: createProduct
      summary: Cria um product.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreate'
      responses:
        '201':
          description: Product criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        default:
          $ref: '#/components/responses/Problem'
    get:
      tags: [Products]
      operationId: listProducts
      summary: Lista products (keyset).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
        - name: active
          in: query
          schema: { type: boolean }
      responses:
        '200':
          description: Lista de products.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'
        default:
          $ref: '#/components/responses/Problem'
  /products/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^prod_[0-9A-Za-z]+$' }
    get:
      tags: [Products]
      operationId: getProduct
      summary: Lê um product.
      responses:
        '200':
          description: Product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        default:
          $ref: '#/components/responses/Problem'

  /prices:
    post:
      tags: [Prices]
      operationId: createPrice
      summary: Cria um price (imutável).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceCreate'
      responses:
        '201':
          description: Price criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Price'
        default:
          $ref: '#/components/responses/Problem'
    get:
      tags: [Prices]
      operationId: listPrices
      summary: Lista prices (keyset).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
        - name: product
          in: query
          schema: { type: string, pattern: '^prod_[0-9A-Za-z]+$' }
        - name: active
          in: query
          schema: { type: boolean }
        - name: type
          in: query
          schema: { type: string, enum: [one_time, recurring] }
      responses:
        '200':
          description: Lista de prices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceList'
        default:
          $ref: '#/components/responses/Problem'
  /prices/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^price_[0-9A-Za-z]+$' }
    get:
      tags: [Prices]
      operationId: getPrice
      summary: Lê um price.
      responses:
        '200':
          description: Price.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Price'
        default:
          $ref: '#/components/responses/Problem'

  /payment_methods:
    get:
      tags: [PaymentMethods]
      operationId: listPaymentMethods
      summary: Lista payment methods de um customer (keyset). Filtro customer obrigatório.
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
        - name: customer
          in: query
          required: true
          schema: { type: string, pattern: '^cus_[0-9A-Za-z]+$' }
        - name: type
          in: query
          schema: { type: string, enum: [card, pix] }
      responses:
        '200':
          description: Lista de payment methods.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodList'
        default:
          $ref: '#/components/responses/Problem'
  /payment_methods/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^pm_[0-9A-Za-z]+$' }
    get:
      tags: [PaymentMethods]
      operationId: getPaymentMethod
      summary: Lê um payment method (nunca PAN/CVV/token bruto).
      responses:
        '200':
          description: Payment method.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
        default:
          $ref: '#/components/responses/Problem'

  /payment_links:
    post:
      tags: [PaymentLinks]
      operationId: createPaymentLink
      summary: Cria um payment link.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLinkCreate'
      responses:
        '201':
          description: Payment link criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
        default:
          $ref: '#/components/responses/Problem'
    get:
      tags: [PaymentLinks]
      operationId: listPaymentLinks
      summary: Lista payment links (keyset).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
        - name: active
          in: query
          schema: { type: boolean }
      responses:
        '200':
          description: Lista de payment links.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLinkList'
        default:
          $ref: '#/components/responses/Problem'
  /payment_links/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^plink_[0-9A-Za-z]+$' }
    get:
      tags: [PaymentLinks]
      operationId: getPaymentLink
      summary: Lê um payment link.
      responses:
        '200':
          description: Payment link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      tags: [PaymentLinks]
      operationId: updatePaymentLink
      summary: Atualiza active/after_completion/metadata. PATCH idempotente.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentLinkUpdate'
      responses:
        '200':
          description: Payment link atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentLink'
        default:
          $ref: '#/components/responses/Problem'

  /checkout_sessions:
    post:
      tags: [CheckoutSessions]
      operationId: createCheckoutSession
      summary: Cria uma checkout session.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionCreate'
      responses:
        '201':
          description: Checkout session criada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSession'
        default:
          $ref: '#/components/responses/Problem'
    get:
      tags: [CheckoutSessions]
      operationId: listCheckoutSessions
      summary: Lista checkout sessions (keyset).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
        - name: status
          in: query
          schema: { type: string, enum: [open, complete, expired] }
        - name: payment_link
          in: query
          schema: { type: string, pattern: '^plink_[0-9A-Za-z]+$' }
        - name: customer
          in: query
          schema: { type: string, pattern: '^cus_[0-9A-Za-z]+$' }
      responses:
        '200':
          description: Lista de checkout sessions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionList'
        default:
          $ref: '#/components/responses/Problem'
  /checkout_sessions/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^cs_[0-9A-Za-z]+$' }
    get:
      tags: [CheckoutSessions]
      operationId: getCheckoutSession
      summary: Lê uma checkout session.
      responses:
        '200':
          description: Checkout session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSession'
        default:
          $ref: '#/components/responses/Problem'
  /checkout_sessions/{id}/expire:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^cs_[0-9A-Za-z]+$' }
    post:
      tags: [CheckoutSessions]
      operationId: expireCheckoutSession
      summary: Expira manualmente uma sessão open. Em complete → 409 checkout_session_not_open.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Checkout session expirada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSession'
        default:
          $ref: '#/components/responses/Problem'

  /payment_intents:
    post:
      tags: [PaymentIntents]
      operationId: createPaymentIntent
      summary: Cria um payment intent (requires_payment_method).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentIntentCreate'
      responses:
        '201':
          description: Payment intent criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
        default:
          $ref: '#/components/responses/Problem'
    get:
      tags: [PaymentIntents]
      operationId: listPaymentIntents
      summary: Lista payment intents (keyset).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
        - name: customer
          in: query
          schema: { type: string, pattern: '^cus_[0-9A-Za-z]+$' }
        - name: status
          in: query
          schema:
            type: string
            enum: [requires_payment_method, requires_confirmation, requires_action, processing, succeeded, cancelled, expired]
      responses:
        '200':
          description: Lista de payment intents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntentList'
        default:
          $ref: '#/components/responses/Problem'
  /payment_intents/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^pi_[0-9A-Za-z]+$' }
    get:
      tags: [PaymentIntents]
      operationId: getPaymentIntent
      summary: Lê um payment intent.
      responses:
        '200':
          description: Payment intent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
        default:
          $ref: '#/components/responses/Problem'
  /payment_intents/{id}/confirm:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^pi_[0-9A-Za-z]+$' }
    post:
      tags: [PaymentIntents]
      operationId: confirmPaymentIntent
      summary: >
        Dispara uma tentativa. Recusa de pagamento NÃO é erro HTTP: retorna 200 com
        o intent de volta a requires_payment_method e last_payment_error preenchido.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentIntentConfirm'
      responses:
        '200':
          description: Payment intent após a tentativa (inclui recusa via last_payment_error).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
        default:
          $ref: '#/components/responses/Problem'
  /payment_intents/{id}/cancel:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^pi_[0-9A-Za-z]+$' }
    post:
      tags: [PaymentIntents]
      operationId: cancelPaymentIntent
      summary: Cancela um intent não-terminal. Em processing/terminal → 409 payment_intent_unexpected_state.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentIntentCancel'
      responses:
        '200':
          description: Payment intent cancelado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
        default:
          $ref: '#/components/responses/Problem'
  /payment_intents/{id}/attempts:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^pi_[0-9A-Za-z]+$' }
    get:
      tags: [PaymentIntents]
      operationId: listPaymentIntentAttempts
      summary: Lista os payment attempts do intent (keyset).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
      responses:
        '200':
          description: Lista de payment attempts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAttemptList'
        default:
          $ref: '#/components/responses/Problem'

  /charges:
    get:
      tags: [Charges]
      operationId: listCharges
      summary: Lista charges (keyset).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
        - name: payment_intent
          in: query
          schema: { type: string, pattern: '^pi_[0-9A-Za-z]+$' }
        - name: customer
          in: query
          schema: { type: string, pattern: '^cus_[0-9A-Za-z]+$' }
      responses:
        '200':
          description: Lista de charges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeList'
        default:
          $ref: '#/components/responses/Problem'
  /charges/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^ch_[0-9A-Za-z]+$' }
    get:
      tags: [Charges]
      operationId: getCharge
      summary: Lê uma charge.
      responses:
        '200':
          description: Charge.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Charge'
        default:
          $ref: '#/components/responses/Problem'

  /subscriptions:
    post:
      tags: [Subscriptions]
      operationId: createSubscription
      summary: Cria uma subscription.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreate'
      responses:
        '201':
          description: Subscription criada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        default:
          $ref: '#/components/responses/Problem'
    get:
      tags: [Subscriptions]
      operationId: listSubscriptions
      summary: Lista subscriptions (keyset).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
        - name: customer
          in: query
          schema: { type: string, pattern: '^cus_[0-9A-Za-z]+$' }
        - name: status
          in: query
          schema:
            type: string
            enum: [incomplete, active, trialing, past_due, unpaid, paused, cancelled]
        - name: price
          in: query
          schema: { type: string, pattern: '^price_[0-9A-Za-z]+$' }
      responses:
        '200':
          description: Lista de subscriptions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionList'
        default:
          $ref: '#/components/responses/Problem'
  /subscriptions/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^sub_[0-9A-Za-z]+$' }
    get:
      tags: [Subscriptions]
      operationId: getSubscription
      summary: Lê uma subscription.
      responses:
        '200':
          description: Subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      tags: [Subscriptions]
      operationId: updateSubscription
      summary: >
        Alteração canônica. Cria sempre um subch_. Idempotency-Key OBRIGATÓRIO
        (exceção à regra de PATCH). charge_now de upgrade só aplica após invoice.paid.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionUpdate'
      responses:
        '200':
          description: Subscription atualizada (pending_change quando charge_now de upgrade).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        default:
          $ref: '#/components/responses/Problem'
  /subscriptions/{id}/changes:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^sub_[0-9A-Za-z]+$' }
    post:
      tags: [Subscriptions]
      operationId: createSubscriptionChange
      summary: Cria mudança explícita/agendada (effective_at futuro).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionChangeCreate'
      responses:
        '201':
          description: Subscription change criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionChange'
        default:
          $ref: '#/components/responses/Problem'
    get:
      tags: [Subscriptions]
      operationId: listSubscriptionChanges
      summary: Lista os subch_ da assinatura (keyset).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
      responses:
        '200':
          description: Lista de subscription changes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionChangeList'
        default:
          $ref: '#/components/responses/Problem'
  /subscriptions/{id}/preview_change:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^sub_[0-9A-Za-z]+$' }
    post:
      tags: [Subscriptions]
      operationId: previewSubscriptionChange
      summary: Preview de proration (não cria nada; não exige Idempotency-Key).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionChangePreviewRequest'
      responses:
        '200':
          description: Preview de proration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionChangePreview'
        default:
          $ref: '#/components/responses/Problem'
  /subscriptions/{id}/cancel:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^sub_[0-9A-Za-z]+$' }
    post:
      tags: [Subscriptions]
      operationId: cancelSubscription
      summary: Cancela agora ou no fim do período.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCancel'
      responses:
        '200':
          description: Subscription cancelada ou agendada para cancelar.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        default:
          $ref: '#/components/responses/Problem'
  /subscriptions/{id}/pause:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^sub_[0-9A-Za-z]+$' }
    post:
      tags: [Subscriptions]
      operationId: pauseSubscription
      summary: Pausa (só a partir de active). Em past_due → 409 subscription_not_modifiable.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionPause'
      responses:
        '200':
          description: Subscription pausada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        default:
          $ref: '#/components/responses/Problem'
  /subscriptions/{id}/resume:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^sub_[0-9A-Za-z]+$' }
    post:
      tags: [Subscriptions]
      operationId: resumeSubscription
      summary: Reativa (paused → active). Exige PM válido, senão 422 payment_method_not_reusable.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionResume'
      responses:
        '200':
          description: Subscription reativada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        default:
          $ref: '#/components/responses/Problem'

  /subscription_changes/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^subch_[0-9A-Za-z]+$' }
    get:
      tags: [Subscriptions]
      operationId: getSubscriptionChange
      summary: Lê um subscription change.
      responses:
        '200':
          description: Subscription change.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionChange'
        default:
          $ref: '#/components/responses/Problem'

  /invoices:
    post:
      tags: [Invoices]
      operationId: createInvoice
      summary: Cria uma invoice draft (aditivo; detalhe em invoices.md).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCreate'
      responses:
        '201':
          description: Invoice draft criada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Problem'
    get:
      tags: [Invoices]
      operationId: listInvoices
      summary: Lista invoices (keyset).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
        - name: customer
          in: query
          schema: { type: string, pattern: '^cus_[0-9A-Za-z]+$' }
        - name: subscription
          in: query
          schema: { type: string, pattern: '^sub_[0-9A-Za-z]+$' }
        - name: status
          in: query
          schema: { type: string, enum: [draft, open, paid, void, uncollectible] }
      responses:
        '200':
          description: Lista de invoices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceList'
        default:
          $ref: '#/components/responses/Problem'
  /invoices/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^inv_[0-9A-Za-z]+$' }
    get:
      tags: [Invoices]
      operationId: getInvoice
      summary: Lê uma invoice.
      responses:
        '200':
          description: Invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Problem'
  /invoices/{id}/items:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^inv_[0-9A-Za-z]+$' }
    post:
      tags: [Invoices]
      operationId: addInvoiceItem
      summary: Adiciona um item à invoice draft (aditivo; detalhe em invoices.md).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceItemCreate'
      responses:
        '201':
          description: Invoice item criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceItem'
        default:
          $ref: '#/components/responses/Problem'
  /invoices/{id}/finalize:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^inv_[0-9A-Za-z]+$' }
    post:
      tags: [Invoices]
      operationId: finalizeInvoice
      summary: Finaliza uma invoice draft (draft → open; congela number/lines/snapshot).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Invoice finalizada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Problem'
  /invoices/{id}/pay:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^inv_[0-9A-Za-z]+$' }
    post:
      tags: [Invoices]
      operationId: payInvoice
      summary: >
        Força tentativa de cobrança. Só em open/uncollectible. Falha de cobrança
        mantém open e emite invoice.payment_failed (não é erro HTTP).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoicePay'
      responses:
        '200':
          description: Invoice com payment_intent atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Problem'
  /invoices/{id}/void:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^inv_[0-9A-Za-z]+$' }
    post:
      tags: [Invoices]
      operationId: voidInvoice
      summary: Anula uma invoice open/uncollectible. paid não é anulável → 409 invoice_not_voidable.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Invoice anulada (status void).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Problem'
  /invoices/{id}/mark_uncollectible:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^inv_[0-9A-Za-z]+$' }
    post:
      tags: [Invoices]
      operationId: markInvoiceUncollectible
      summary: Marca uma invoice open como uncollectible (aditivo; detalhe em invoices.md).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Invoice marcada uncollectible.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/Problem'
  /invoice_items/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^ii_[0-9A-Za-z]+$' }
    get:
      tags: [Invoices]
      operationId: getInvoiceItem
      summary: Lê um invoice item (aditivo; detalhe em invoices.md).
      responses:
        '200':
          description: Invoice item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceItem'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      tags: [Invoices]
      operationId: deleteInvoiceItem
      summary: Remove um invoice item de uma invoice draft (aditivo; detalhe em invoices.md).
      responses:
        '200':
          description: Invoice item removido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResource'
        default:
          $ref: '#/components/responses/Problem'

  /refunds:
    post:
      tags: [Refunds]
      operationId: createRefund
      summary: Cria um refund (execução assíncrona). Validações antes de gastar idempotência.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundCreate'
      responses:
        '201':
          description: Refund aceito (pending).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '202':
          description: Refund pending (timeout do adapter — não é erro).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        default:
          $ref: '#/components/responses/Problem'
    get:
      tags: [Refunds]
      operationId: listRefunds
      summary: Lista refunds (keyset).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
        - name: charge
          in: query
          schema: { type: string, pattern: '^ch_[0-9A-Za-z]+$' }
        - name: payment_intent
          in: query
          schema: { type: string, pattern: '^pi_[0-9A-Za-z]+$' }
      responses:
        '200':
          description: Lista de refunds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundList'
        default:
          $ref: '#/components/responses/Problem'
  /refunds/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^re_[0-9A-Za-z]+$' }
    get:
      tags: [Refunds]
      operationId: getRefund
      summary: Lê um refund.
      responses:
        '200':
          description: Refund.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        default:
          $ref: '#/components/responses/Problem'

  /webhook_endpoints:
    post:
      tags: [WebhookEndpoints]
      operationId: createWebhookEndpoint
      summary: Cria um webhook endpoint. secret devolvido em claro só aqui e na rotação.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointCreate'
      responses:
        '201':
          description: Webhook endpoint criado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          $ref: '#/components/responses/Problem'
    get:
      tags: [WebhookEndpoints]
      operationId: listWebhookEndpoints
      summary: Lista webhook endpoints (keyset; sem secret em claro).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
      responses:
        '200':
          description: Lista de webhook endpoints.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointList'
        default:
          $ref: '#/components/responses/Problem'
  /webhook_endpoints/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^we_[0-9A-Za-z]+$' }
    get:
      tags: [WebhookEndpoints]
      operationId: getWebhookEndpoint
      summary: Lê um webhook endpoint (sem secret em claro).
      responses:
        '200':
          description: Webhook endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          $ref: '#/components/responses/Problem'
    patch:
      tags: [WebhookEndpoints]
      operationId: updateWebhookEndpoint
      summary: Atualiza url/enabled_events/status/description/metadata. roll_secret devolve novo secret.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEndpointUpdate'
      responses:
        '200':
          description: Webhook endpoint atualizado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          $ref: '#/components/responses/Problem'
    delete:
      tags: [WebhookEndpoints]
      operationId: deleteWebhookEndpoint
      summary: Remove o endpoint (para de entregar).
      responses:
        '200':
          description: Webhook endpoint removido.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResource'
        default:
          $ref: '#/components/responses/Problem'

  /events:
    get:
      tags: [Events]
      operationId: listEvents
      summary: Lista events/WebhookEvent (keyset).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
        - name: type
          in: query
          schema: { type: string }
        - name: object_id
          in: query
          description: 'Ex.: um pi_/sub_.'
          schema: { type: string }
      responses:
        '200':
          description: Lista de events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventList'
        default:
          $ref: '#/components/responses/Problem'
  /events/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^evt_[0-9A-Za-z]+$' }
    get:
      tags: [Events]
      operationId: getEvent
      summary: Lê um event (snapshot histórico do objeto).
      responses:
        '200':
          description: Event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        default:
          $ref: '#/components/responses/Problem'
  /events/{id}/replay:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, pattern: '^evt_[0-9A-Za-z]+$' }
    post:
      tags: [Events]
      operationId: replayEvent
      summary: Reenvia o evento aos webhook endpoints habilitados (replay manual).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventReplayRequest'
      responses:
        '202':
          description: Replay aceito; novas WebhookDelivery criadas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventReplayResponse'
        default:
          $ref: '#/components/responses/Problem'

  /tax_documents:
    get:
      tags: [TaxDocuments]
      operationId: listTaxDocuments
      summary: Lista tax documents (keyset).
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/StartingAfter'
        - $ref: '#/components/parameters/EndingBefore'
        - name: invoice
          in: query
          schema: { type: string, pattern: '^inv_[0-9A-Za-z]+$' }
        - name: charge
          in: query
          schema: { type: string, pattern: '^ch_[0-9A-Za-z]+$' }
        - name: customer
          in: query
          schema: { type: string, pattern: '^cus_[0-9A-Za-z]+$' }
        - name: status
          in: query
          schema: { type: string, enum: [pending, processing, issued, failed, cancelled] }
      responses:
        '200':
          description: Lista de tax documents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxDocumentList'
        default:
          $ref: '#/components/responses/Problem'
  /tax_documents/{id}:
    parameters:
      - name: id
        in: path
        required: true
[...]
